body{
    background-color: black;

    h1{
        text-align: center;
        text-decoration: underline cyan;
        color : aliceblue;
    }
    
    font-family: 'Verdana';



    article{
        color: aliceblue;

        border-radius: 10px;
        margin : 10px;
        padding : 10px;
        border-style: double;
        border-color: aqua;
    }

    article.principal{
        border-color: greenyellow;
    }

    p{
        margin-top: -10px;
    }
    
    li.sec{
        list-style-type : "\21B3";
    }

    ul{
        list-style-type: disc;
        margin-top: -15px;
    }
    
    h2{
        margin-top: 0px;
        text-decoration: underline aliceblue;
    }
    
}