body{
    background-color: black;
    font-family: 'Verdana';
}

h1{
    text-align: center;
    text-decoration: underline cyan;
    color : aliceblue;
    max-width: 1000px;
}

article{
    color: aliceblue;
    border-radius: 10px;
    margin : 10px;
    padding : 10px;
    border-style: double;
    border-color: aqua;
}

article.principal{
    border-color:lawngreen;
}

p{
    margin-top: -10px;
}

li.sec{
    list-style-type : "\21B3";
}

ul{
    list-style-type: disc;
    margin-top: -15px;
}

h2{
    margin-top: 0px;
    text-decoration: underline aliceblue;
}

a:link{
    color:cornflowerblue;
}

a:visited{
    color:cornflowerblue;
}

a:hover{
    color:rgb(100, 182, 237);
}
