body{
    background-color: #111213;
    font-family: 'Verdana';
    max-width: 1250px;
    margin : auto;
    background: linear-gradient(90deg, #000 25%, #111213 75%);
    font-size: larger;
}

button{
    min-width: 40px;
    height: 40px;
    margin: 20px;
    margin-bottom: -60px;
    background: #303436;
    border-radius: 10px;
    border-style: none;
    padding: 7px;
    color: #88a0b3;
}
button:hover{
    background: #192023;
    color: #879199;
}

h1{
    text-align: center;
    text-decoration: underline #88a0b3;
    color : #88a0b3;
    margin-top: 10px;
    /* background: radial-gradient(ellipse at center, #303436, transparent); */
}

article{
    background-color: #303436;
    color: #88a0b3;
    margin : 20px;
    padding : 10px;
    border-radius: 10px;
    background: linear-gradient(135deg, #303436 25%, #192023 75%);
}

p{
    margin-top: -10px;
}

li.sec{
    list-style-type : "\21B3";
}

ul{
    list-style-type: disc;
    margin-top: -15px;
}

h2{
    margin-top: 0px;
    text-decoration: underline #88a0b3;
}

a:link{
    color:#6495ed;
}

a:visited{
    color:#6495ed;
}

a:hover{
    color:#64b6ed;
}
